<div class="auth__block" id="auth__block" style="display: block;">
  <div class="auth__logo">
    <img src="static/logo.png" alt="Logo">
  </div>
  <h2 class="auth__title">Авторизоваться</h2>
  <p class="auth__subtitle">Введите пожалуйста своё фио и ник для дальнейшей авторизации</p>
  <form class="auth__form" id="auth__form" autocomplete="off">
    <input class="input" type="text" placeholder="Введите имя и фамилию" name="username">
    <input class="input" type="text" placeholder="Введите свой ник" name="nickname">
    <button class="button">Войти</button>
  </form>
</div>