<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input class="menu-trigger hidden" id="togglenav" type="checkbox" /><label class="burger-wrapper trigger" for="togglenav"><div class="hamburger"></div></label>
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <div class="people-list__contacts" id ='people-list__contacts'>
      <!--      area for Contacts list -->
    </div>
  </div>

  <div class="chat">
    <div class="chat-header clearfix" id="chat__contact-info">
      <!--      area for Contact Info-->
    </div>

    <div class="chat-history" id="chat__messages">
      <!--      area for Messages-->
  </div>

    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>

      <button id="btnSendMsg">Send</button>

    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->
{{> 'add-photo.hbs'}}

