<div class="chat__block" id="chat__block">
  <div class="chat__bar"></div>
  <div class="chat__body">
    <div class="left-side">
      <div class="me" id="personal__info"></div>
      <div class="left-sideuser__list" id="user__list"></div>
    </div>

    <div class="chat">

      <div class="chat__head">
        <p class="chat__title">Чат</p>
        <span class="chat__members-count"><span id="members__count">0</span> участник(a|ов)</span>
      </div>

      <ul class="message-list" id="message-list"></ul>

      <form class="chat__input-wrapper" id="chat__form" autocomplete="off">
        <input type="text" class="chat__input" placeholder="Введите сообщение..." name="message">
        <button class="button button_small">Отправить</button>
      </form>
    </div>
  </div>
</div>