<div class="contact" data-login="{{login}}">
  <div class="contact__photo-wrapper">
    <img src="{{photoLink}}" alt="avatar" class="contact__photo"/>
  </div>
  <div class="about">
    <div class="name">{{fio}}</div>
    <div class="status">
      <i class="fa fa-circle online"></i> online
    </div>
  </div>
</div>