<div id="contact-info" class="contact-info">
  <img src="{{photoLink}}" alt="avatar" class="contact__photo"/>

  <div class="chat-about">
    <div class="chat-with">Chat with {{fio}}</div>
    <div class="chat-num-messages">already {{messagesNmb}} messages</div>
  </div>
  <i class="fa fa-star"></i>
</div>