<div class="contact">
  <div class="contact__photo-wrapper">
    <img src="{{contact.photoLink}}" alt="userPhoto">
  </div>
  <div class="contact__text-block">
    <div class="contact__fio">{{contact.fio}}</div>
<!--    <div class="contact__last-msg">{{contact.lastMsg}}</div>-->
  </div>
</div>