<ul>
  {{#each messages}}
    {{#if userIsAuthor}}
      <li>
        {{> "message.hbs" msg=.}}
      </li>
    {{else}}
      <li class="clearfix">
        {{> "message-response.hbs" msg=.}}
      </li>
    {{/if}}
  {{/each}}
</ul>