<li>
  <div class="message-data">
    <span class="message-data-name"><i class="fa fa-circle online"></i> {{fromFio}}</span>
    <span class="message-data-time">{{ts}}</span>
  </div>
  <div class="message my-message">
    {{msg}}
  </div>
</li>