<li>
  <div class="message-data">
    <span class="message-data-name"><i class="fa fa-circle online"></i> {{this.fromFio}}</span>
    <span class="message-data-time">{{prettifyDate msg}}</span>
  </div>
  <div class="message my-message">
    {{this.msg}}
  </div>
</li>