<li class="clearfix">
  <div class="message-data align-right">
    <span class="message-data-time">{{ts}}</span> &nbsp; &nbsp;
    <span class="message-data-name">{{this.fromFio}}</span> <i class="fa fa-circle me"></i>
  </div>
  <div class="message other-message float-right">
    {{this.msg}}
  </div>
</li>