<div class="popup" style="display: none;" id="loading-photo__popup">
  <div class="loading-photo">
    <label class="loading-photo__input" id="drop-area">
      <input type="file" name="avatar" id="new-avatar-image" accept="image/x-png">
      <img class="image__preview" src="/public/static/bg.png" id="image__preview">
    </label>
    <div class="loading-photo__controls">
      <button class="control__button" id="button-cancel">ОТМЕНА</button>
      <button class="control__button save" id="button-save">СОХРАНИТЬ</button>
    </div>
  </div>
</div>