.contact {
  display: flex;
  //justify-content: left;
  //align-items: flex-start;

  &__photo-wrapper{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    //margin-left: auto;
    //margin-right: auto;
  }

  &__photo {
    display: block;
    max-height: 100%;
    max-width: 100%;

  }
}

