.me {
  display: flex;
  height: 82px;

  &__photo {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #242f3d;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & > img {
      width: 100%;
    }

    &::after {
      position: absolute;
      content: '+';
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.6);
      border-radius: 50%;
      display: none;
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }
}