@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "variables";
@import 'auth', 'chat', 'people-list','contact','contacts';


*, *:before, *:after {
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}




.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  //height: 0;
}

